<!DOCTYPE html>
<html>
  <head>
    <title><%= airport %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= airport %></h1>
    <p>Welcome to <%= airport %></p>
  </body>
</html>
